
.box{
    
    text-align: center;
    font-size: 35px;
    color: white;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px; 
    gap: 3px;
    
  }

.header {
    background: #581f18;
    grid-column: 1/-1;

}
.menu {
    background: #f0a202;
    
}
.content {
    background: #d95d39;
    grid-column: 2/-1;
}
.footer {
    background: #202c59;
    grid-column: 1/-1;
}