
.box{
    
    text-align: center;
    font-size: 35px;
    color: white;
}

.container {
    
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px; 
    gap: 3px;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "m c c c c c c c c c c c"
        "f f f f f f f f f f f f";
    
  }
  /* . will  leave empty space*/

.header {
    background: #581f18;
    /* grid-column: 1/-1; */
    grid-area: h;

}
.menu {
    background: #f0a202;
grid-area: m;
    
}
.content {
    background: #d95d39;
    /* grid-column: 2/-1; */
    grid-area: c;
}
.footer {
    background: #202c59;
    /* grid-column: 1/-1; */
    grid-area: f;
}

